<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/0aa951fc-eb59-4001-831d-d6e92ea16672/resourceGroups/Dommun/providers/Microsoft.Web/sites/DommunAdmin</ResourceId>
    <ResourceGroup>Dommun</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://dommunadmin.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>7e70de5e-c2d5-4ee3-8cdc-ddd3af25c7e6</ProjectGuid>
    <PublishUrl>https://dommunadmin.scm.azurewebsites.net/</PublishUrl>
    <UserName>$DommunAdmin</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>