@model DommunAdmin.Models.AgenteDto

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>


<hr />

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">Agente</h4>
            </div>
            <div class="card-body">
                <div class="live-preview">
                    @*<form class="row g-3" asp-action="Create">*@
                    <form class="row g-3" method="post" enctype="multipart/form-data" asp-controller="Agente" asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="col-md-4">
                            <label asp-for="slug" class="control-label"></label>
                            <input asp-for="slug" class="form-control" />
                            <span asp-validation-for="slug" class="text-danger"></span>
                        </div>
                        <div class="col-md-4">
                            <label asp-for="nombres" class="control-label"></label>
                            <input asp-for="nombres" class="form-control" />
                            <span asp-validation-for="nombres" class="text-danger"></span>
                        </div>
                        <div class="col-md-4">
                            <label asp-for="apellidos" class="control-label"></label>
                            <input asp-for="apellidos" class="form-control" />
                            <span asp-validation-for="apellidos" class="text-danger"></span>
                        </div>
                        <div class="col-md-4">
                            <label asp-for="email" class="control-label"></label>
                            <input asp-for="email" class="form-control" />
                            <span asp-validation-for="email" class="text-danger"></span>
                        </div>
                        @* <div class="col-md-4">
                        <label asp-for="fotoPerfil" class="control-label"></label>
                        <input asp-for="fotoPerfil" class="form-control" />
                        <span asp-validation-for="fotoPerfil" class="text-danger"></span>
                        </div>*@

                        <div class="col-md-4">
                            <label asp-for="foto" class="control-label"></label>
                            <input asp-for="foto" class="form-control" name="files" multiple="multiple" type="file" />
                            <span asp-validation-for="foto" class="text-danger"></span>
                        </div>

                        <div class="row mt-2">
                            <div class="col-12">
                                <label class="col-form-label">Select File</label>
                                <input asp-for="foto" class="form-control" />
                                <span asp-validation-for="foto" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <label asp-for="celular" class="control-label"></label>
                            <input asp-for="celular" class="form-control" />
                            <span asp-validation-for="celular" class="text-danger"></span>
                        </div>
                        <div class="col-md-12">
                            <label asp-for="descripcionPerfil" class="control-label"></label>
                            <textarea asp-for="descripcionPerfil" class="form-control" rows="5" cols="40"> </textarea>
                            <span asp-validation-for="descripcionPerfil" class="text-danger"></span>
                        </div>
                        <div class="col-md-4">
                            <label asp-for="facebook" class="control-label"></label>
                            <input asp-for="facebook" class="form-control" />
                            <span asp-validation-for="facebook" class="text-danger"></span>
                        </div>
                        <div class="col-md-4">
                            <label asp-for="twitter" class="control-label"></label>
                            <input asp-for="twitter" class="form-control" />
                            <span asp-validation-for="twitter" class="text-danger"></span>
                        </div>
                        <div class="col-md-4">
                            <label asp-for="linkedin" class="control-label"></label>
                            <input asp-for="linkedin" class="form-control" />
                            <span asp-validation-for="linkedin" class="text-danger"></span>
                        </div>
                        <div class="col-md-4">
                            <label asp-for="instagram" class="control-label"></label>
                            <input asp-for="instagram" class="form-control" />
                            <span asp-validation-for="instagram" class="text-danger"></span>
                        </div>
                        <div class="col-md-4">
                            <label asp-for="website" class="control-label"></label>
                            <input asp-for="website" class="form-control" />
                            <span asp-validation-for="website" class="text-danger"></span>
                        </div>
                        <div class="col-md-4">
                            <label asp-for="inmobiliariaId" class="control-label"></label>
                            <select asp-for="inmobiliariaId" class="form-select mb-3" asp-items="ViewBag.Inmobiliaria">
                                <option value="0">Seleccione...</option>
                            </select>
                            <span asp-validation-for="inmobiliariaId" class="text-danger"></span>
                        </div>
                        <div class="col-12">
                            <div class="form-group form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="isActive" /> @Html.DisplayNameFor(model => model.isActive)
                                </label>
                            </div>
                        </div>
                        <div class="col-12">
                            <input type="submit" value="Create" class="btn btn-primary" />
                            <a asp-action="Index" class="btn btn-info">Regresar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }

