@model DommunAdmin.Models.PropiedadDto

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<hr />

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">Propiedad</h4>
            </div>
            <div class="card-body">
                <div class="live-preview">
                    <form class="row g-3" asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="col-md-4">
                            <label asp-for="titulo" class="control-label"></label>
                            <input asp-for="titulo" class="form-control" />
                            <span asp-validation-for="titulo" class="text-danger"></span>
                        </div>

                        <div class="col-md-4">
                            <label asp-for="precio" class="control-label"></label>
                            <input asp-for="precio" class="form-control" />
                            <span asp-validation-for="precio" class="text-danger"></span>
                        </div>
                        <div class="col-md-4">
                            <label asp-for="localizacion" class="control-label"></label>
                            <input asp-for="localizacion" class="form-control" />
                            <span asp-validation-for="localizacion" class="text-danger"></span>
                        </div>
                        <div class="col-md-12">
                            <label asp-for="descripcion" class="control-label"></label>
                            <textarea asp-for="descripcion" class="form-control" rows="5" cols="40"></textarea>
                            <span asp-validation-for="descripcion" class="text-danger"></span>
                        </div>
                        <div class="col-md-4">
                            <label asp-for="barrio" class="control-label"></label>
                            <input asp-for="barrio" class="form-control" />
                            <span asp-validation-for="barrio" class="text-danger"></span>
                        </div>
                        <div class="col-md-4">
                            <label asp-for="dormitorios" class="control-label"></label>
                            <input asp-for="dormitorios" class="form-control" />
                            <span asp-validation-for="dormitorios" class="text-danger"></span>
                        </div>
                        <div class="col-md-4">
                            <label asp-for="banos" class="control-label"></label>
                            <input asp-for="banos" class="form-control" />
                            <span asp-validation-for="banos" class="text-danger"></span>
                        </div>
                        <div class="col-md-4">
                            <label asp-for="garages" class="control-label"></label>
                            <input asp-for="garages" class="form-control" />
                            <span asp-validation-for="garages" class="text-danger"></span>
                        </div>
                        <div class="col-md-4">
                            <label asp-for="area" class="control-label"></label>
                            <input asp-for="area" class="form-control" />
                            <span asp-validation-for="area" class="text-danger"></span>
                        </div>
                        <div class="col-md-4">
                            <label asp-for="anioConstruccion" class="control-label"></label>
                            <input asp-for="anioConstruccion" class="form-control" />
                            <span asp-validation-for="anioConstruccion" class="text-danger"></span>
                        </div>
                        <div class="col-md-4">
                            <label asp-for="caracteristicas" class="control-label"></label>
                            <input asp-for="caracteristicas" class="form-control" />
                            <span asp-validation-for="caracteristicas" class="text-danger"></span>
                        </div>
                        <div class="col-md-4">
                            <label asp-for="video" class="control-label"></label>
                            <input asp-for="video" class="form-control" />
                            <span asp-validation-for="video" class="text-danger"></span>
                        </div>
                        <div class="col-md-4">
                            <label asp-for="plano" class="control-label"></label>
                            <input asp-for="plano" class="form-control" />
                            <span asp-validation-for="plano" class="text-danger"></span>
                        </div>
                        <div class="col-md-4">
                            <label asp-for="tipoPropiedadId" class="control-label"></label>
                            <select asp-for="tipoPropiedadId" class="form-select mb-3" asp-items="ViewBag.TipoPropiedadId">
                                <option value="0">Seleccione...</option>
                            </select>
                            <span asp-validation-for="tipoPropiedadId" class="text-danger"></span>
                        </div>
                        <div class="col-md-4">
                            <label asp-for="estadoPropiedadId" class="control-label"></label>
                            <select asp-for="estadoPropiedadId" class="form-select mb-3" asp-items="ViewBag.EstadoPropiedadId">
                                <option value="0">Seleccione...</option>
                            </select>
                            <span asp-validation-for="estadoPropiedadId" class="text-danger"></span>
                        </div>
                        <div class="col-md-4">
                            <label asp-for="ciudadId" class="control-label"></label>
                            <select asp-for="ciudadId" class="form-select mb-3" asp-items="ViewBag.CiudadId">
                                <option value="0">Seleccione...</option>
                            </select>
                            <span asp-validation-for="ciudadId" class="text-danger"></span>
                        </div>
                        <div class="col-md-4">
                            <label asp-for="agenteId" class="control-label"></label>
                            <select asp-for="agenteId" class="form-select mb-3" asp-items="ViewBag.AgenteId">
                                <option value="0">Seleccione...</option>
                            </select>
                            <span asp-validation-for="agenteId" class="text-danger"></span>
                        </div>
                        <div class="col-12">
                            <div class="form-group form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="isActive" /> @Html.DisplayNameFor(model => model.isActive)
                                </label>
                            </div>
                        </div>
                        <div class="col-12">
                            <input type="submit" value="Create" class="btn btn-primary" />
                            <a asp-action="Index" class="btn btn-info">Regresar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }