@model DommunAdmin.Models.PropiedadDto

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>
<hr />

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">Información de la Propiedad</h4>
            </div>
            <div class="card-body">
                <div class="live-preview">
                    <form class="row g-3" asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="id" />

                        <div class="col-md-12">
                            <div class="alert alert-primary alert-dismissible alert-label-icon rounded-label fade show" role="alert">
                                <i class="ri-user-smile-line label-icon"></i><strong>Datos Principales</strong>
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label asp-for="tipoOfertaId" class="control-label"></label>
                            <select asp-for="tipoOfertaId" class="form-select mb-3" asp-items="ViewBag.tipoOferta">
                                <option value="0">Seleccione...</option>
                            </select>
                            <span asp-validation-for="tipoOfertaId" class="text-danger"></span>
                        </div>
                        <div class="col-md-3">
                            <label asp-for="tipoPropiedadId" class="control-label"></label>
                            <select asp-for="tipoPropiedadId" class="form-select mb-3" asp-items="ViewBag.tipoPropiedad">
                                <option value="0">Seleccione...</option>
                            </select>
                            <span asp-validation-for="tipoPropiedadId" class="text-danger"></span>
                        </div>
                        <div class="col-md-3">
                            <label asp-for="valorVenta" class="control-label"></label>
                            <input asp-for="valorVenta" class="form-control" />
                            <span asp-validation-for="valorVenta" class="text-danger"></span>
                        </div>
                        <div class="col-md-3">
                            <label asp-for="valorArriendo" class="control-label"></label>
                            <input asp-for="valorArriendo" class="form-control" />
                            <span asp-validation-for="valorArriendo" class="text-danger"></span>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="incluyeAdministracion" /> @Html.DisplayNameFor(model => model.incluyeAdministracion)
                                </label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label asp-for="valorAdministracion" class="control-label"></label>
                            <input asp-for="valorAdministracion" class="form-control" />
                            <span asp-validation-for="valorAdministracion" class="text-danger"></span>
                        </div>
                        <div class="col-md-3">
                            <label asp-for="valorMetro" class="control-label"></label>
                            <input asp-for="valorMetro" class="form-control" />
                            <span asp-validation-for="valorMetro" class="text-danger"></span>
                        </div>

                        <div class="col-md-12">
                            <div class="alert alert-primary alert-dismissible alert-label-icon rounded-label fade show" role="alert">
                                <i class="ri-user-smile-line label-icon"></i><strong>Ubicación</strong>
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label asp-for="ciudadId" class="control-label"></label>
                            <select asp-for="ciudadId" class="form-select mb-3" asp-items="ViewBag.ciudad">
                                <option value="0">Seleccione...</option>
                            </select>
                            <span asp-validation-for="ciudadId" class="text-danger"></span>
                        </div>
                        <div class="col-md-3">
                            <label asp-for="direccion" class="control-label"></label>
                            <input asp-for="direccion" class="form-control" />
                            <span asp-validation-for="direccion" class="text-danger"></span>
                        </div>
                        <div class="col-md-3">
                            <label asp-for="barrio" class="control-label"></label>
                            <input asp-for="barrio" class="form-control" />
                            <span asp-validation-for="barrio" class="text-danger"></span>
                        </div>
                        <div class="col-md-3">
                            <label asp-for="localizacion" class="control-label"></label>
                            <input asp-for="localizacion" class="form-control" />
                            <span asp-validation-for="localizacion" class="text-danger"></span>
                        </div>

                        <div class="col-md-12">
                            <div class="alert alert-primary alert-dismissible alert-label-icon rounded-label fade show" role="alert">
                                <i class="ri-user-smile-line label-icon"></i><strong>Carácterísticas Principales de tu Propiedad</strong>
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label asp-for="estratoId" class="control-label"></label>
                            <select asp-for="estratoId" class="form-select mb-3" asp-items="ViewBag.estrato">
                                <option value="0">Seleccione...</option>
                            </select>
                            <span asp-validation-for="estratoId" class="text-danger"></span>
                        </div>
                        <div class="col-md-3">
                            <label asp-for="areaPrivada" class="control-label"></label>
                            <input asp-for="areaPrivada" class="form-control" />
                            <span asp-validation-for="areaPrivada" class="text-danger"></span>
                        </div>
                        <div class="col-md-3">
                            <label asp-for="areaConstruida" class="control-label"></label>
                            <input asp-for="areaConstruida" class="form-control" />
                            <span asp-validation-for="areaConstruida" class="text-danger"></span>
                        </div>
                        <div class="col-md-3">
                            <label asp-for="numeroPiso" class="control-label"></label>
                            <input asp-for="numeroPiso" class="form-control" />
                            <span asp-validation-for="numeroPiso" class="text-danger"></span>
                        </div>
                        <div class="col-md-3">
                            <label asp-for="areaFondo" class="control-label"></label>
                            <input asp-for="areaFondo" class="form-control" />
                            <span asp-validation-for="areaFondo" class="text-danger"></span>
                        </div>
                        <div class="col-md-3">
                            <label asp-for="tiempoConstruidoId" class="control-label"></label>
                            <select asp-for="tiempoConstruidoId" class="form-select mb-3" asp-items="ViewBag.tiempoConstruido">
                                <option value="0">Seleccione...</option>
                            </select>
                            <span asp-validation-for="tiempoConstruidoId" class="text-danger"></span>
                        </div>
                        <div class="col-md-3">
                            <label asp-for="numeroHabitacionId" class="control-label"></label>
                            <select asp-for="numeroHabitacionId" class="form-select mb-3" asp-items="ViewBag.numeroHabitacion">
                                <option value="0">Seleccione...</option>
                            </select>
                            <span asp-validation-for="numeroHabitacionId" class="text-danger"></span>
                        </div>
                        <div class="col-md-3">
                            <label asp-for="numeroBanoId" class="control-label"></label>
                            <select asp-for="numeroBanoId" class="form-select mb-3" asp-items="ViewBag.numeroBano">
                                <option value="0">Seleccione...</option>
                            </select>
                            <span asp-validation-for="numeroBanoId" class="text-danger"></span>
                        </div>
                        <div class="col-md-3">
                            <label asp-for="numeroParqueaderoId" class="control-label"></label>
                            <select asp-for="numeroParqueaderoId" class="form-select mb-3" asp-items="ViewBag.numeroParqueadero">
                                <option value="0">Seleccione...</option>
                            </select>
                            <span asp-validation-for="numeroParqueaderoId" class="text-danger"></span>
                        </div>
                        <div class="col-md-3">
                            <label asp-for="tipoParqueaderoId" class="control-label"></label>
                            <select asp-for="tipoParqueaderoId" class="form-select mb-3" asp-items="ViewBag.tipoParqueadero">
                                <option value="0">Seleccione...</option>
                            </select>
                            <span asp-validation-for="tipoParqueaderoId" class="text-danger"></span>
                        </div>
                        <div class="col-md-3">
                            <label asp-for="caracteristicaParqueaderoId" class="control-label"></label>
                            <select asp-for="caracteristicaParqueaderoId" class="form-select mb-3" asp-items="ViewBag.caracteristicaParqueadero">
                                <option value="0">Seleccione...</option>
                            </select>
                            <span asp-validation-for="caracteristicaParqueaderoId" class="text-danger"></span>
                        </div>

                         <div class="col-md-12">
                            <div class="alert alert-primary alert-dismissible alert-label-icon rounded-label fade show" role="alert">
                                <i class="ri-user-smile-line label-icon"></i><strong>Carácterísticas de tu Propiedad</strong>
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label asp-for="caracteristicas" class="control-label"></label>
                            <input asp-for="caracteristicas" class="form-control" />
                            <span asp-validation-for="caracteristicas" class="text-danger"></span>
                        </div>

                        <div class="col-md-12">
                            <div class="alert alert-primary alert-dismissible alert-label-icon rounded-label fade show" role="alert">
                                <i class="ri-user-smile-line label-icon"></i><strong>Descripciones Adicionales</strong>
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        </div>                       
                        <div class="col-md-3">
                            <label asp-for="video" class="control-label"></label>
                            <input asp-for="video" class="form-control" />
                            <span asp-validation-for="video" class="text-danger"></span>
                        </div>
                        <div class="col-md-12">
                            <label asp-for="descripcion" class="control-label"></label>
                            <textarea asp-for="descripcion" class="form-control" rows="5" cols="40"></textarea>
                            <span asp-validation-for="descripcion" class="text-danger"></span>
                        </div>
                        <div class="col-md-3">
                            <label asp-for="anioConstruccion" class="control-label"></label>
                            <input asp-for="anioConstruccion" class="form-control" />
                            <span asp-validation-for="anioConstruccion" class="text-danger"></span>
                        </div>
                        <div class="col-md-3">
                            <label asp-for="estadoPropiedadId" class="control-label"></label>
                            <select asp-for="estadoPropiedadId" class="form-select mb-3" asp-items="ViewBag.estadoPropiedad">
                                <option value="0">Seleccione...</option>
                            </select>
                            <span asp-validation-for="estadoPropiedadId" class="text-danger"></span>
                        </div>
                        <div class="col-md-3">
                            <label asp-for="agenteId" class="control-label"></label>
                            <select asp-for="agenteId" class="form-select mb-3" asp-items="ViewBag.agente">
                                <option value="0">Seleccione...</option>
                            </select>
                            <span asp-validation-for="agenteId" class="text-danger"></span>
                        </div>
                        <div class="col-12">
                            <div class="form-group form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="isActive" /> @Html.DisplayNameFor(model => model.isActive)
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-primary" />
                            <a asp-action="Index" class="btn btn-info">Regresar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }

